@charset "UTF-8";


/* <共通> **************************************************/
/* GENERAL -------------------------------------------------------------------*/
body {
    font-size: 14px;
    font-family: "Arial, Helvetica, sans-serif", sans-serif;
    color: #333;
}

table, tr, td {
    font-size: 14px;
    color: #333;
}

input.groovybutton {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	width: 180px;
	height: 28px;
	/*background-color: #0086E0;*/
	border-style: solid;
        text-align:center;
	/*border-color: #5081E9;*/
	border-width: 3px;
        /* グラデーションを加える */
        background-color: #3699D0;
        background: -moz-linear-gradient(top, #56B9F0, #3699D0); /* Mozilla */
        background: -webkit-gradient(linear, left top, left bottom, from(#56B9F0), to(#3699D0)); /* Webkit */

        /* 1pxのラインを加える */
        border: 1px solid #02659C;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7),
                    inset 1px 0 0 rgba(255, 255, 255, 0.3),
                    inset -1px 0 0 rgba(255, 255, 255, 0.3),
                    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

tbody {
    border: 3;
}

.footer {
    font-family: "Century Gothic", "MS PGothic", "ヒラギノ角ゴPro W3", "Hiragino Sans GB W3", sans-serif;
    font-size: 9px;
    color: #000;
    text-align: center;
}

.rbroundbox {
    background: url("/mobile_station/serverside/img/nt.gif") repeat;
}

.rbtop div {
    background: url("/mobile_station/serverside/img/tl.gif") no-repeat top left;
}

.rbtop {
    background: url("/mobile_station/serverside/img/tr.gif") no-repeat top right;
}

.rbbot div {
    background: url("/mobile_station/serverside/img/bl.gif") no-repeat bottom left;
}

.rbbot {
    background: url("/mobile_station/serverside/img/br.gif") no-repeat bottom right;
}

.rbroundboxc {
    background: url("/mobile_station/serverside/img/ntc.gif") repeat;
}

.rbtopc div {
    background: url("/mobile_station/serverside/img/tlc.gif") no-repeat top left;
}

.rbtopc {
    background: url("/mobile_station/serverside/img/trc.gif") no-repeat top right;
}

.rbbotc div {
    background: url("/mobile_station/serverside/img/blc.gif") no-repeat bottom left;
}

.rbbotc {
    background: url("/mobile_station/serverside/img/brc.gif") no-repeat bottom right;
}

.rbtop div, .rbtopc div, .rbtop, .rbtopc, .rbbot div, .rbbotc div, .rbbot, .rbbotc {
    width: 100%;
    height: 7px;
    font-size: 1px;
}

.rbcontent {
    margin: 0 7px;
    font-size: 14pt;
    color: #ffffff;
}

.rbroundbox, .rbroundboxc {
    width: 100%;
    margin: 1em auto;
}

.rbcontentc {
    margin: 0 7px;
    font-size: 14pt;
    color: #333;
    text-align: center;
}

.fadebox {
    width: 85%;
    border: 3px solid #999;
    background-color: #666;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: #FFF;
}

.fadebox2 {
    width: 85%;
    border: 3px solid #999;
    background-color: #666;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: #FFF;
}

/* </共通> *************************************************/

/* <プライバシーポリシー> ******************************************/

.indented {
    padding-left: 25pt;
    padding-right: 25pt;
}


/* CSS For PC, iPhones & Smartphones                      */
/* Added by jonathanparel, 20160906; RM#1724;-------ii*/

.pc, .smartphone, .iphone, .login, .mypage, .new0, .new1, .new2, .new3, .new4, .new5, .yoyakumail, .privacy, .reg {
    width: 100%;
    text-align: center;
    font-family: "Arial, Helvetica, sans-serif";
    /*font-family: "Times New Roman", Georgia, Serif;*/
}

#head {
    font-size: 160%;
    font-weight: bold;
    text-align: center;
}

#foot {
    text-align: center;
}

#bground_mat {
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background: #eeeeee;
    padding: 15px;
    width: 280px;
}

#title {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

#centered_message {
    margin: auto;
    text-align:center;
    padding-left:12px;
    padding-right:12px;
}

hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

#hr_slim {
    height: 1px;
    margin-bottom: -10px;
    visibility: hidden;
}

#hr_before-button {
	height: 1px;
    margin-bottom: 10px;
	visibility: visible;
}

#staffButton {
    width: 200px;
    height: 18px;
    display: inline-block;
    background-color: pink;
}

#staffData {
    width: 200px;
    border: 1px solid #eeeeee;
    display: inline-block;
}    

/*--------------------------------------------------------------------*/

/* Added by jonathanparel, 20160906; RM#1724;-------xx*/