@charset "UTF-8";
@import "base.css";

.loginBtn {
    width: 180px;
    height: 28px;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 36px;
    border: none;
    text-align: left;
    line-height: 28px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}
.loginBtn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Line */
.loginBtn--line {
    background: #00C300;
}
/* Line icon downloaded from - https://developers.line.biz/media/line-login/login-button/LINE_Login_Button_Image.zip */
.loginBtn--line:before {
  border-right: #00B300 1px solid;
  background: url('../img/oauth/icon_line.png') 2px no-repeat;
  background-size: 90%;
}

/* Facebook */
.loginBtn--facebook {
    background-color: #1a75ff;
}
/* facebook icon downloaded from - https://en.facebookbrand.com/facebookapp/assets/f-logo/ */
.loginBtn--facebook:before {
    background: url('../img/oauth/icon_facebook.png') 2px no-repeat;
    margin-left: 4px;
    background-size: 70%;
}



